<header id="navbar" class="site-header">
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container-fluid">
      <a class="navbar-brand d-flex flex-row align-content-between p-0" style="gap: 15px" [routerLink]="['/']">
        <img src="assets/imgs/logo-animate.svg" height="35" />
        <h2 class="m-0 d-flex text-nowrap flex-row align-items-center p-0">
          <span class="light">Riot</span>
          <span class="bold">Reach</span>
        </h2>
      </a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <!--[routerLinkActiveOptions]="{ exact: true }"-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Our Work</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/']">Marketing</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Web Services</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="btn btn-outline-dark" [routerLink]="['/fetch-data']">Schedule Free Meeting <i class="fal fa-calender"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
