/* You can add global styles to this file, and also import other style files */
@import url('assets/fonts/poppins-fonts.css');
@import url('assets/rr-animation.css');


/* Provide sufficient contrast against white background */
/*init*/

:root {
  font-size: 15px;
  line-height: 0.9;
  --color-primary: #ECD06F;
  --color-secondary: #203E5F;
  --text-blue: #203E5F;
  --text-dark: #1A2634;
  --text-black: #111;
  --bg-dark: #202020;
  --text-light: #DDD;
  --text-white: #ffffffcf;
}

body {
  font-size: 15px;
  font-family: Poppins-Regular;
  height: 600vh;
  background-color: #191919;
  color: #ffffffcf;
}

#main-container {
  margin-top: 150px;
  min-height: 100vh;
}
/*init*/
/*rolz*/
.bg-text-dark {
  background-color: var(--bg-dark);
  color: var(--text-white);
}

.bg-text-light {
  background-color: var(--text-white);
  color: var(--text-blue);
}

/*rolz*/
/*intro*/
.intro {
  height: 100vh;
}

  .intro:before {
    content: '';
    background-image: url(assets/imgs/bg-columns.png)
  }

  .intro .mt-33 {
    margin-top: 25%;
  }
/*intro*/
/*header navbar with animation*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  animation: fadeInAndDown 1.5s ease 0.7s 1 both;
  /*background-color: #121212;*/
}

  .site-header .container-fluid {
    display: flex;
    height: 8.3125rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .site-header a, .site-header .btn, .site-header h2 span {
    color: #ffffff;
    border-color: #EEEEEEAD;
  }

  .site-header, .site-header .container-fluid {
    transition: all 0.7s ease;
  }

    .site-header.is-scrolled {
      background-color: #202020;
    }

      .site-header.is-scrolled .container-fluid {
        height: 3rem;
      }

      .site-header.is-scrolled a, .site-header.is-scrolled .btn, .site-header.is-scrolled h2 span {
        color: #EEEEEEAD;
        border-color: #ffffffcf;
      }
/*header navbar animation*/
